* text=auto
*.cs      text eol=lf diff=csharp
*.cshtml  text eol=lf
*.css     text eol=lf
*.js      text eol=lf
*.json    text eol=lf
*.yml     text eol=lf
*.md      text eol=lf
*.bat     text eol=crlf
*.cmd     text eol=crlf
*.ps1     text eol=crlf
wwwroot/lib/** -text
*.min.css -text
*.min.js  -text
