body {
    padding-bottom: 40px
}

.navbar-nav .dropdown-menu {
    max-height: 60vh;
    overflow: auto
}

/* ซ่อน validation summary ตอนที่ไม่มี error */
.validation-summary-valid {
    display: none;
}
